In [4]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import pairwise_distances
from sklearn.metrics import mean_squared_error

import math

In [11]:
rs_cols = ['user_id', 'movie_id', 'rating']

In [17]:
ratings_base = pd.read_csv('model/rate.csv', names=rs_cols, encoding='latin-1')

In [18]:
ratings_base.head()

   user_id  movie_id  rating
0        1      4043       4
1        1      2427       1
2        1      4103       4
3        1      1246       2
4        1       322       2

In [19]:
ratings_base.describe()

            user_id      movie_id        rating
count  29879.000000  29879.000000  29879.000000
mean     497.587704   2400.626460      3.005723
std      289.851278   1385.876028      1.413456
min        1.000000      0.000000      1.000000
25%      243.000000   1198.000000      2.000000
50%      500.000000   2395.000000      3.000000
75%      749.000000   3604.000000      4.000000
max      999.000000   4802.000000      5.000000

In [20]:
n_users_base = ratings_base['user_id'].unique().max()
n_items_base = ratings_base['movie_id'].unique().max()

n_users_base,n_items_base

(999, 4802)