In [301]:
import flask
import csv
import difflib
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [302]:
df2 = pd.read_csv('./model/tmdb.csv')

In [303]:
df2.shape

(4803, 26)

In [304]:
df2 = df2[['budget', 'id','title','genres','director','cast', 'soup']]
df2.head()

,budget,id,title,genres,director,cast,soup
0,237000000,19995,Avatar,"['action', 'adventure', 'fantasy']",jamescameron,"['samworthington', 'zoesaldana', 'sigourneywea...",cultureclash future spacewar samworthington zo...
1,300000000,285,Pirates of the Caribbean: At World's End,"['adventure', 'fantasy', 'action']",goreverbinski,"['johnnydepp', 'orlandobloom', 'keiraknightley']",ocean drugabuse exoticisland johnnydepp orland...
2,245000000,206647,Spectre,"['action', 'adventure', 'crime']",sammendes,"['danielcraig', 'christophwaltz', 'léaseydoux']",spy basedonnovel secretagent danielcraig chris...
3,250000000,49026,The Dark Knight Rises,"['action', 'crime', 'drama']",christophernolan,"['christianbale', 'michaelcaine', 'garyoldman']",dccomics crimefighter terrorist christianbale ...
4,260000000,49529,John Carter,"['action', 'adventure', 'sciencefiction']",andrewstanton,"['taylorkitsch', 'lynncollins', 'samanthamorton']",basedonnovel mars medallion taylorkitsch lynnc...

In [305]:
df2.shape

(4803, 7)

In [306]:
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [307]:
df2 = df2.reset_index()
indices1 = pd.Series(df2.index, index=df2['title'])
indices2 = pd.Series(df2.index, index=df2['genres'])
indices3 = pd.Series(df2.index, index=df2['director'])
indices4 = pd.Series(df2.index, index=df2['cast'])

In [365]:
all_titles = [df2['title'][i] for i in range(len(df2['title']))]
all_genres = [df2['genres'][i] for i in range(len(df2['genres']))]

AttributeError: 'Series' object has no attribute 'split'

In [309]:
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [363]:
idx = pd.Series(df2['genres'])
ix = idx[1][2:11]
ix

'adventure'

In [247]:
sim_scores = list(enumerate(cosine_sim[idx][2]))

In [248]:
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

In [249]:
 sim_scores = sim_scores[1:11]

In [251]:
movie_indices = [i[0] for i in sim_scores]
tit = df2['title'].iloc[movie_indices]

In [254]:
tit

3439                           The Terminator
108                        Terminator Genisys
449                           The Book of Eli
282                                 True Lies
93         Terminator 3: Rise of the Machines
2868                                 Fortress
4176        Battle for the Planet of the Apes
82             Dawn of the Planet of the Apes
127                        Mad Max: Fury Road
200     The Hunger Games: Mockingjay - Part 1
Name: title, dtype: object